---
import "./siteTips.css";

interface Props {
  labels: {
    tips: string;
  };
  bestTime?: string;
  whatToBring?: string[];
  accessibility?: string;
  connectivity?: string;
}

const { labels, bestTime, whatToBring, accessibility, connectivity } = Astro.props;
---

<section class="site-tips container">
  <div class="site-tips__container">
    <h2 class="site-tips__title">{labels.tips}</h2>
    
    <div class="site-tips__grid">
      {bestTime && (
        <div class="site-tips__item">
          <h3 class="site-tips__label">Best time to visit</h3>
          <p class="site-tips__value">{bestTime}</p>
        </div>
      )}

      {whatToBring && whatToBring.length > 0 && (
        <div class="site-tips__item">
          <h3 class="site-tips__label">What to bring</h3>
          <ul class="site-tips__list">
            {whatToBring.map(item => <li>{item}</li>)}
          </ul>
        </div>
      )}

      {accessibility && (
        <div class="site-tips__item">
          <h3 class="site-tips__label">Accessibility</h3>
          <p class="site-tips__value">{accessibility}</p>
        </div>
      )}

      {connectivity && (
        <div class="site-tips__item">
          <h3 class="site-tips__label">Connectivity</h3>
          <p class="site-tips__value">{connectivity}</p>
        </div>
      )}
    </div>
  </div>
</section>
